{% extends 'base.html' %}
{% block content %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="card">
  <div class="card-content">
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <label>First Name</label>
        <input type="text" name="first_name" required>
      <label>Last Name</label>
        <input type="text" name="last_name" required>
      <label>Current City</label>
      <input type="text" name="current_city" required>
      <input type="submit" class="btn" value="signup">
    </form>
  </div>
</div>

{% endblock %}