{% extends 'base.html' %}
{% block content  %}

{% include 'partials/profile_card.html' %}
{% if posts %}
  {% for post in posts %}

    {% include 'partials/render_posts.html'  with post=post%}
    {% include 'partials/show_post_body_post.html' with post=post %}
    {% include 'partials/show_post_body_comments.html' with post=post %}
    {% include 'partials/modal_footer.html' %}
    {% include 'partials/add_comment_body.html' with post=post %}
    {% include 'partials/add_reply_body.html' %}

  {% endfor %}

  {% include 'partials/extraneous_divs.html' %}
{% else %}
  <h3>You have no posts :(</h3>
  <h4>Search for a city and see what others have posted!</h4>
{% endif %}

  {% include 'partials/script_profile.html' %}
  {% include 'partials/script_open_modal.html' %}

{% endblock content %} 