  {% comment %} PROFILE CARD INFORMATION {% endcomment %}
  <div class="card relative">
    <div class="card-content profile-card-flex">
      <div class="relative profile-picture" style="background-image: url('{{profile.photo_url}}')">
        {% comment %} BUTTON - UPLOAD PICTURE {% endcomment %}
        {% if profile.user_id == user.id %}
        <button class="btn-browse-picture"><i class="material-icons">file_upload</i></button>
        {% endif %}
      </div>
      <div class="profile-info">
        <p>{{ profile.first_name }} {{profile.last_name }}</p>
        <p>{{ profile.current_city }}</p>
        <p><small>Member since: {{ user.date_joined }}</small></p>
      </div>
    </div>
    {% if profile.user.id == user.id %}
      {% comment %} MODAL TRIGGER - EDIT PROFILE {% endcomment %}
      <button class="modal-trigger edit-btn-profile hover-to-see" href="#modal1"><i class="material-icons">edit</i></button>
    {% endif %}
  </div>

  {% comment %} (HIDDEN) CHANGE PROFILE PICTURE FORM {% endcomment %}
  {% if profile.user_id == user.id %}
  <form action="{% url 'add_photo' profile.user_id %}" enctype="multipart/form-data" method="POST" class="picture-form hide">
      {% csrf_token %}
      <input type="file" name="photo-file" class="choose-file">
      <input type="submit">
  </form>   
  {% endif %}
  
{% comment %} MODAL BODY - EDIT PROFILE {% endcomment %}
<div id="modal1" class="modal">
  <div class="modal-content">

    <h4>Edit Profile</h4>
    <form action="{% url 'profile_edit' %}" method="POST">
      {% csrf_token %}
      {{ profile_form.as_p }}   
      <div class="modal-footer">
        <input type="submit" value="Update">
      </div>
    </form>

    </div>
  </div>